<%= turbo_frame_tag 'models-filter' do %>
    <%= form_with url: filter_models_path, method: :get, class: 'model-filter block' do |f| %>
        <div id="filter-wrapper" class="filter-wrapper columns">
            <div class="column is-one-fifth">
                <%= render partial: 'models/filter/list', locals: { form: f, filter_list: filter_list } %>
            </div>
            <div class="column">
            <div class="block">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Sorting:</label>
                    </div>
                    <div class="field-body sorting-field">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <%= f.select(:models_sorting, options_for_select(FilterPagination::SORTING_OPTIONS, selected: selected_sort), { }, onchange: "this.form.requestSubmit()") %>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <hr/>
            <%= render partial: 'models/filter/pagination', locals: { total_pages: total_pages, current_page: current_page } %>
            <div class="fixed-grid has-1-cols-mobile has-3-cols models-page">
                <div class="grid models-grid">
                    <%= render partial: 'models/model', collection: paged_models, locals: { hide_brand_filter: filter_list[:hide_brand_filter] } %>
                </div>
            </div>
            <%= render partial: 'models/filter/pagination', locals: { total_pages: total_pages, current_page: current_page } %>
            </div>
        </div>
    <% end %>
<% end %>
