<% image_wrapper_classes = 'is-flex is-align-items-center has-background-white p-1 card-border-radius' %>
<div class="card model-box is-clipped" data-model="<%= model.brand.name %> <%= model.name %>">
  <div class="card-image">
    <figure class="image is-5by3">
        <%= link_to brand_path(model.brand.handle, anchor: model.collection.handle), class: 'has-background-white', data: { turbo: false } do %>
          <%= image_tag model.image, alt: "#{model.name} image", title: "#{model.name} image", class: 'px-5', style: "height: 100%;object-fit: contain;" %>
        <% end %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media is-align-items-center">
      <div class="media-left">
        <% unless hide_brand_filter %>
          <%= link_to brand_path(model.brand.handle), class: image_wrapper_classes, data: { turbo: false } do %>
            <figure class="image is-48x48">
                <%= image_tag model.brand.logo.variant(:thumb), alt: "#{model.brand.name} logo", title: "#{model.brand.name} logo", style: "height: 100%;object-fit: contain;" %>
            </figure>
          <% end %>
        <% else %>
          <div class="<% image_wrapper_classes %>">
            <figure class="image is-48x48 is-flex is-align-items-center">
                <%= image_tag model.brand.logo.variant(:thumb), alt: "#{model.brand.name} logo", title: "#{model.brand.name} logo", style: "height: 100%;object-fit: contain;" %>
            </figure>
          </div>
        <% end %>
      </div>
      <div class="media-content is-flex is-flex-direction-column is-align-self-stretch is-justify-content-space-evenly">
        <% unless hide_brand_filter %>
          <%= link_to model.brand.name, brand_path(model.brand.handle), class: "is-size-5 mb-1 is-link", data: { turbo: false } %>
        <% end %>
        <%= link_to model.name, brand_path(model.brand.handle, anchor: model.collection.handle), class: 'title is-size-4', data: { turbo: false } %>
      </div>
    </div>

    <div class="content">
      <p><b><%= t('model.weight') %>:</b> <%= model.weight %> gr / <%= model.weight(to_oz = true) %> oz</p>
      <p><b><%= t('model.heel_to_toe_drop') %>:</b> <%= model.heel_to_toe_drop %> mm</p>
      <%= render partial: 'models/cushioning', locals: { cushioning_level: model.tags[:cushioning_level], cushioning_name: model.cushioning_name } %>
      <%= render partial: 'models/apma_accepted', locals: { apma_accepted: model.tags[:apma_accepted]  } %>
    </div>
  </div>
</div>