<div class="card model-box" data-name="<%= model.name %>" data-cushioning="<%= model.cushioning_level %>", data-heel-to-toe-drop="<%= model.heel_to_toe_drop %>", data-weight="<%= model.weight %>">
  <div class="card-image">
    <figure class="image is-4by3">
      <img
        src="https://bulma.io/assets/images/placeholders/1280x960.png"
        alt="Placeholder image"
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img
            src="https://bulma.io/assets/images/placeholders/96x96.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="media-content is-flex is-flex-direction-column is-align-self-stretch is-justify-content-space-evenly">
        <% unless hide_brand_filter %>
          <%= link_to model.brand.name, brand_path(model.brand), class: "is-size-5 mb-1 is-link", data: { turbo: false } %>
        <% end %>
        <p class="title is-size-4"><%= model.name %></p>
      </div>
    </div>

    <div class="content">
      <p><b>Weight:</b> <%= model.weight %> gr / <%= model.weight(to_oz = true) %> oz</p>
      <p><b>Heel to toe drop:</b> <%= model.heel_to_toe_drop %> mm</p>
      <p><b>Cushioning:</b> <%= model.tags["cushioning"] %></p>
      <%#= render partial: 'models/filter/cushioning_bar', locals: { cushioning: model.cached_tags["cushioning"] } %>
      <p><%= 'APMA accepted' if model.apma_accepted %></p>
    </div>
  </div>
</div>