<% new_reply = Comment.new(post_id: comment.post.id, comment_id: comment.id) %>

<div class="<%= comment.parent_comment ? 'block' : 'mb-6' %>">
    <div class="mb-2">
        <p class="has-text-weight-bold"><%= comment.user.username %></span></p>
        <p class="has-text-weight-light"><%= distance_of_time_in_words(comment.created_at, DateTime.now) %> ago</p>
    </div>
    <div class="block">
        <div>
            <div class="mb-2">
                <%= comment.content.html_safe %>
            </div>
            <%= turbo_frame_tag do %>
                <%= link_to pluralize(comment.replies.count, 'Reply'), post_comment_replies_path(comment_id: comment.id), data: { turbo_frame: comment.replies_turbo_frame_id } %>
                <%= link_to 'Reply', new_post_comment_path(comment_id: comment.id), data: { turbo_frame: new_reply.turbo_frame_id } %>
            <% end %>
        </div>
    </div>
    <div class="reply-box block">
        <%= turbo_frame_tag new_reply.turbo_frame_id do %>
        <% end %>
        
        <%= turbo_frame_tag comment.replies_turbo_frame_id do %>
            <%#= render @comment.replies %>
        <% end %>
    </div>
</div>