<% new_reply = Comment.new(post_id: comment.post.id, comment_id: comment.id) %>

<div class="comment-box <%= comment.parent_comment ? 'block' : 'mb-6' %>">
    <p class="mb-2"><span class="has-text-weight-bold"><%= comment.user.username %></span> * <span class="has-text-weight-light"><%= distance_of_time_in_words(comment.created_at, DateTime.now) %> ago</span></p>
    <div class="block">
        <div class="pl-3">
            <div class="mb-2">
                <%= comment.content.html_safe %>
            </div>
            <%= turbo_frame_tag do %>
                <%= link_to pluralize(comment.replies.count, 'Reply'), post_comment_path(id: comment.id), data: { turbo_frame: comment.replies_turbo_frame_id } %>
                <%= link_to 'Reply', new_post_comment_path(comment_id: comment.id), data: { turbo_frame: new_reply.turbo_frame_id } %>
            <% end %>
        </div>
    </div>
    <%= turbo_frame_tag new_reply.turbo_frame_id do %>
    <% end %>
    
    <%#= turbo_frame_tag comment.replies_turbo_frame_id do %>
        <%#= render @comment.replies %>
    <%# end %>

    <% if false %>
        <% if comment.replies.any? %>
            <div class="block pl-4">
                <% comment.replies.reverse.each do |r| %>
                    <%= render r %>
                    <%#= r.content.html_safe %>
                <% end %>
            </div>
        <% end %>
    <% end %>

</div>