<%= turbo_frame_tag form_turbo_id do %>
    <% if user_signed_in? %>
        <div class="block">
            <%= simple_form_for([comment.post, comment], html: {onsubmit: 'updateTinymceFields()'}) do |f| %>
                <%= f.hidden_field :post_id, value: comment.post.id %>
                <%#= hidden_field_tag :turbo_frame_id, comment.replies_for_turbo_frame_id %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= (f.hidden_field :comment_id, value: comment.comment_id) if comment.parent_comment %>

                <%= render partial: "comments/content_field", locals: { form: f, comment: comment } %>
                
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <%= render partial: 'comments/post_btn', locals: { f: f, comment: comment } %>
                    </div>
                </div>   
            <% end %>
        </div>   
    <% else %>
        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <%= link_to t('join_to_comment'), new_user_session_path, class: "button is-link has-text-white", data: { turbo: false } %>
            </div>
        </div>   
    <% end %>
<% end %>
