<%= turbo_frame_tag comment.turbo_frame_id, class: "is-block block" do %>
    <div class="mb-5">
        <%= render partial: 'comments/publishing_user', locals: { comment: comment } %>
    </div>
    <div class="block">
        <div>
            <%= turbo_frame_tag comment.edit_frame_id, class: 'is-block mb-5 content' do %>
                <%= render partial: 'comments/content', locals: { comment: comment } %>
            <% end %>
            <div class="columns">
                <div class="column is-narrow">
                    <%= render partial: 'comments/reply_toggle', locals: { comment: comment, new_reply: new_reply }  %>
                </div>
                <% if comment.user == current_user %>
                    <div class="column is-narrow">
                        <%= link_to t('comment.edit'), edit_post_comment_path(id: comment), data: { turbo_frame: comment.edit_frame_id } %>
                    </div>
                    <div class="column is-narrow">
                        <%= link_to t('comment.delete'), [comment.post, comment], data: { turbo_method: :delete, turbo_confirm: "#{comment.deletion_message}" }, class: "is-text-danger" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>