<% edited_from_collection = !params[:edited_from_collection].nil? ? params[:edited_from_collection].to_boolean : false %>
<%= turbo_frame_tag model, autoscroll: true do %>
    <%= form_with model: [:admin, model] do |f| %>
        <% if model.errors.any? %>
            <div>
                <%= model.errors.full_messages.to_sentence.capitalize %>
            </div>
        <% end %>
        <div class="field">
            <label class="label"><%= f.label :name %></label>
            <div class="control">
                <%= f.text_field :name, autofocus: true, class: 'input' %>
            </div>
        </div>
        <div class="field">
            <label class="label"><%= f.label :image %></label>
            <div class="control">
                <div class="label">
                    <figure class="image">
                        <div>
                            <%= image_tag (model.image.attached? ? model.image : ''), id: 'image-preview', style: "max-width: 144px; max-height: 180px" %>
                        </div>
                    </figure>
                </div>
                <div class="file">
                    <label class="file-label">
                        <%= f.hidden_field :image, value: model.image.signed_id if model.image.attached? %>
                        <img id="loaded-img" style="max-width: 144px; max-height: 180px">
                        <%= f.file_field :image, class: 'file-input', onchange: "previewImage(event)", data: { previewTagId: 'image-preview' }, direct_upload: true %>
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label"><%= model.image.attached? ? 'Change the image...' : 'Choose an image...' %></span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class='checkbox'>
                    <%= hidden_field_tag 'model[tags][apma_accepted]', false %>
                    <%= check_box_tag 'model[tags][apma_accepted]', true, checked: ActiveModel::Type::Boolean.new.cast(model.tags[:apma_accepted]) %>
                    <%= 'Is APMA acceped?' %>
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class='checkbox'>
                    <%= hidden_field_tag 'model[tags][discontinued]', false %>
                    <%= check_box_tag 'model[tags][discontinued]', true, checked: ActiveModel::Type::Boolean.new.cast(model.tags[:discontinued]) %>
                    <%= 'Is discontinued?' %>
                </label>
            </div>
        </div>
        <div class="field">
            <label class="label"><%= f.label :heel_to_toe_drop %></label>
            <div class="control">
                <%= f.number_field :heel_to_toe_drop, class: 'input', step: 0.1, min: 0 %>
            </div>
        </div>
        <div class="field">
            <label class="label"><%= f.label :weight %></label>
            <div class="control">
                <%= f.number_field :weight, class: 'input', step: 0.1, min: 0.1 %>
            </div>
        </div>

        <div class="field">
            <label class="label">Activites</label>
            <div class="control">
                <% AllowedTags::ACTIVITY_OPTIONS.each do |a| %>
                    <div>
                        <label class='checkbox'>
                            <%= check_box_tag 'model[tags][activities][]', id: nil, value: a, checked: model.tags[:activities]&.include?(a) %>
                            <%= t("model.tags.activities.#{a}") %>
                        </label>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="field">
            <label class="label">Cushioning</label>
            <div class="control">
                <% AllowedTags::CUSHIONING_OPTIONS.each_with_index do |c, i| %>
                    <div>
                        <label class='radio'>
                            <%= radio_button_tag 'model[tags][cushioning_level]', c, { id: nil, checked: model.tags[:cushioning_level]&.to_i == (i + 1), value: i+1 } %>
                            <%= t("model.tags.cushionings.#{c}") %>
                        </label>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="field">
            <label class="label">Support</label>
            <div class="control">
                <% AllowedTags::SUPPORT_OPTIONS.each do |s| %>
                    <div>
                        <label class='radio'>
                            <%= radio_button_tag 'model[tags][support]', s, { id: nil, checked: model.tags[:support] == s, value: s } %>
                            <%= t("model.tags.supports.#{s}") %>
                        </label>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="field">
            <label class="label"><%= f.label :collection_id, 'Collection' %></label>
            <div class="control">
                <div class="select">
                    <%= f.collection_select :collection_id, Collection.order(:name), :id, :name_with_brand %>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="buttons is-right">
                <%= link_to("Cancel", edit_admin_collection_path(model.collection), class: 'button') if model.collection %>
                <%= f.submit edited_from_collection ? 'Add Model' : nil, class: 'button is-success', data: { turbo: edited_from_collection } %>
            </div>
        </div>
    <% end %>
<% end %>
