<%= form_with model: [:admin, brand] do |f| %>
    <% if brand.errors.any? %>
        <%= render partial: 'admin/shared/form_error_message' %>
    <% end %>
    <div class="field">
        <label class="label"><%= f.label :name %></label>
        <div class="control">
            <%= f.text_field :name, autofocus: true, class: "input #{brand.errors.full_messages_for(:name).present? ? 'is-danger' : nil}" %>
        </div>
        <%= render partial: 'admin/shared/field_errors', locals: { object: brand, field: :name } %>
    </div>
    <div class="field">
        <label class="label"><%= f.label :logo %></label>
        <div class="control">
                <div class="label">
                    <figure class="image">
                        <div>
                            <%= image_tag (brand.logo.attached? ? brand.logo : ''), id: 'logo-preview', style: "max-width: 144px; max-height: 180px" %>
                        </div>
                    </figure>
                </div>
            <div class="file <%= brand.errors.full_messages_for(:logo).present? ? 'is-danger' : nil %>">
                <label class="file-label">
                    <%= f.hidden_field :logo, value: brand.logo.signed_id if brand.logo.attached? %>
                    <img id="loaded-img" style="max-width: 144px; max-height: 180px">
                    <%= f.file_field :logo, class: 'file-input', onchange: "previewImage(event)", data: { previewTagId: 'logo-preview' }, direct_upload: true %>
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label"><%= brand.logo.attached? ? 'Change the logo...' : 'Choose a logo...' %></span>
                    </span>
                </label>
            </div>
        </div>
        <%= render partial: 'admin/shared/field_errors', locals: { object: brand, field: :logo } %>
    </div>
    <div class="field">
        <label class="label"><%= f.label :company_color %></label>
        <div class="control">
            <%= f.color_field :company_color, autofocus: true, class: "input #{brand.errors.full_messages_for(:company_color).present? ? 'is-danger' : nil}", style: 'max-width: 100px; width: 100%' %>
        </div>
        <%= render partial: 'admin/shared/field_errors', locals: { object: brand, field: :company_color } %>
    </div>
    <div class="field">
        <label class="label"><%= f.label :overview_en %></label>
        <div class="control">
            <%= f.text_area :overview_en, class: "textarea #{brand.errors.full_messages_for(:overview_en).present? ? 'is-danger' : nil}" %>
        </div>
        <%= render partial: 'admin/shared/field_errors', locals: { object: brand, field: :overview_en } %>
    </div>
    <div class="field">
        <label class="label"><%= f.label :overview_es %></label>
        <div class="control">
            <%= f.text_area :overview_es, class: "textarea #{brand.errors.full_messages_for(:overview_es).present? ? 'is-danger' : nil}" %>
        </div>
        <%= render partial: 'admin/shared/field_errors', locals: { object: brand, field: :overview_es } %>
    </div>
    <div class="field">
        <div class="control is-flex is-justify-content-end">
            <%= f.submit class: 'button is-success' %>
        </div>
    </div>
<% end %>
<% unless brand.new_record? %>
    <hr>
    <div class="block">
        <div class="field">
            <label class="label">Collections</label>
            <%= turbo_frame_tag 'collections', src: admin_collections_path(brand_id: brand) do %>
            <% end %>
        </div>
    </div>
    <div class="box">
        <%= render partial: 'admin/brands/add_collection_btn', locals: { brand: brand } %>
    </div>
<% end %>