<%= form_with model: [:admin, brand] do |f| %>
    <% if brand.errors.any? %>
        <div>
            <%= brand.errors.full_messages.to_sentence.capitalize %>
        </div>
    <% end %>
    <div class="field">
        <label class="label"><%= f.label :name %></label>
        <div class="control">
            <%= f.text_field :name, autofocus: true, class: 'input' %>
        </div>
        <%# TODO: add overview field. Maybe make text insted of string %>
    </div>
    <div class="field">
        <label class="label"><%= f.label :overview %></label>
        <div class="control">
            <%= f.text_area :overview, class: 'textarea' %>
        </div>
    </div>
    <div class="fields">
        <%= render partial: 'admin/collections/collection', collection: brand.collections %>
    </div>
    <div class="field">
        <div class="control">
            <%= f.submit class: 'button is-success is-pulled-right' %>
    </div>
  </div>
<% end %>
