<div class="section">
  <div class="container is-max-tablet">
    <div class="block">
      <h2 class="title is-2"><%= t('log_in') %></h2>
    </div>

    <div class="block">
    <%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
      <%= f.input :login, input_html: { autofocus: true, autocomplete: "email" } %>
      <%= f.input :password, input_html: { autocomplete: "current-password" } %>
      <% if devise_mapping.rememberable? %>
        <%= f.input :remember_me, as: :boolean, wrapper: :checkbox %>
      <% end %>
      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <%= f.submit t('log_in'), class: 'button is-link' %>
        </div>
      </div>
    <% end %>
    </div>
    <%= render "users/devise/shared/links" %>
  </div>
</div>