<div class="section is-flex is-clipped homepage-hero is-relative">
    <div class="homepage-carousel-background is-hidden-touch">
    </div>
    <div class="column homepage-hero-outer">
        <div class="columns homepage-hero-inner">
            <div class="column">
                <div class="container title-container is-flex is-justify-content-center is-flex-direction-column">
                    <h1 class="title is-1"><%= @app_name %></h1>
                    <h2 class="is-size-3 mb-6"><%= t('home_hero_subtitle_html') %></h2>
                    <%= link_to t('cta.try_our_shoe_filter'), '#homepage-filter', class: 'try-filter-btn', data: { turbo: false } %>
                </div>
            </div>
            <div class="column is-relative carousel-wrapper">
                <%= render partial: "shared/homepage_carousel/carousel" %>
            </div>
        </div>
    </div>
</div>
<div class="section" id="homepage-filter">
    <div class="container is-widescreen">
        <%= turbo_frame_tag 'models-filter', src: filter_models_path do %>
            <%= render partial: 'models/filter/skeleton/grid', locals: { models_count: @models_count } %>
        <% end %>
    </div>
</div>