<%# I used data: { turbo: false } in the form because turbo was acting weird %>
<%= form_with model: [:admin, post], html: {data: { controller: 'tinymce', action: 'tinymce#setHiddenField' }} do |f| %>
    <% if post.errors.any? %>
        <div>
            <%= post.errors.full_messages.to_sentence.capitalize %>
        </div>
    <% end %>
    <div class="field">
        <label class="label"><%= f.label :published_at %></label>
        <div class="control">
            <%= f.date_field :published_at, class: 'input', style: 'width: fit-content' %>
        </div>
    </div>
    <div class="field">
        <label class="label"><%= f.label :title_en %></label>
        <div class="control">
            <%= f.text_field :title_en, autofocus: true, class: 'input' %>
        </div>
    </div>
    <div class="field">
        <label class="label"><%= f.label :title_es %></label>
        <div class="control">
            <%= f.text_field :title_es, class: 'input' %>
        </div>
    </div>
    <div class="field">
        <label class="label"><%= f.label :overview_en %></label>
        <div class="control">
            <%= f.text_field :overview_en, class: 'input' %>
        </div>
    </div>
        <div class="field">
        <label class="label"><%= f.label :overview_es %></label>
        <div class="control">
            <%= f.text_field :overview_es, class: 'input' %>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class='checkbox'>
                <%#= f.hidden_field :has_affiliate_links, false %>
                <%= f.check_box :has_affiliate_links %>
                <%= 'Does the content contain affiliate links?' %>
            </label>
        </div>
    </div>
    <div class="field">
        <label class="label"><%= f.label :content_en %></label>
        <div class="control">
            <%= render partial: 'admin/tinymce_field', locals: { form: f, object: post, attr_name: :content_en } %>
        </div>
    </div>
    <div class="field">
        <label class="label"><%= f.label :content_es %></label>
        <div class="control">
            <%= render partial: 'admin/tinymce_field', locals: { form: f, object: post, attr_name: :content_es } %>
        </div>
    </div>
    <div class="field">
        <label class="label">Tags</label>
        <div class="control">
            <div class="tags">
                <% AllowedTags::POSTS_OPTIONS.each do |t| %>
                    <span class="tag">
                        <label class='checkbox is-size-6 is-flex is-align-items-center is-gap-0.5'>
                            <%= check_box_tag 'post[tags][]', id: nil, value: t, checked: post.tags.include?(t) %>
                            <%= t("filter.#{t}") %>
                        </label>
                    </span>
                <% end %>
            </div>
        </div>
    </div>
    <div class="field mt-6">
        <div class="is-flex is-3 is-flex-wrap-wrap-reverse is-justify-content-space-between is-mobile" style="gap: 1.75rem">
            <% unless post.new_record? %>
                <%# Here I used a delete link instead of a button, because the delete button uses a form wrapper... %>
                <%# and since the delete button is already in a form, that would cause problems %>
                <%= link_to('Delete Post', [:admin, post], data: {turbo_method: :delete, turbo_confirm: 'Are you sure that you want to delete this post?' }, class: "button is-danger") %>
            <% end %>
            <div class="buttons <%= post.new_record? ? 'ml-auto' : nil %>">
                <%= f.submit(!post.published ? t('save_as_draft') : t('unpublish_post_and_save_as_draft'), class: 'button is-link') %>
                <%= f.submit post.new_record? ? t('publish_post') : t('publish_updates'), class: 'button is-success' %>
            </div>
        </div>
    </div>
<% end %>
