<%= form_with model: [:admin, post] do |f| %>
    <% if post.errors.any? %>
        <div>
            <%= post.errors.full_messages.to_sentence.capitalize %>
        </div>
    <% end %>
    <div class="field">
        <label class="label"><%= f.label :title_en %></label>
        <div class="control">
            <%= f.text_field :title_en, autofocus: true, class: 'input' %>
        </div>
    </div>
    <div class="field">
        <label class="label"><%= f.label :title_es %></label>
        <div class="control">
            <%= f.text_field :title_es, autofocus: true, class: 'input' %>
        </div>
    </div>
    <div class="field">
        <label class="label"><%= f.label :overview_en %></label>
        <div class="control">
            <%= f.text_field :overview_en, autofocus: true, class: 'input' %>
        </div>
    </div>
        <div class="field">
        <label class="label"><%= f.label :overview_es %></label>
        <div class="control">
            <%= f.text_field :overview_es, autofocus: true, class: 'input' %>
        </div>
    </div>
    <div class="field">
        <label class="label"><%= f.label :content_en %></label>
        <div class="control">
            <%= f.rich_text_area :content_en %>
        </div>
    </div>
    <div class="field">
        <label class="label"><%= f.label :content_es %></label>
        <div class="control">
            <%= f.rich_text_area :content_es %>
        </div>
    </div>
    <div class="field">
        <label class="label">Tags</label>
        <div class="control">
            <div class="tags">
                <% AllowedTags::POSTS_OPTIONS.each do |t| %>
                    <span class="tag">
                        <label class='checkbox is-size-6 is-flex is-align-items-center is-gap-0.5'>
                            <%= check_box_tag 'post[tags][]', id: nil, value: t, checked: post.tags.include?(t) %>
                            <%= t("filter.#{t}") %>
                        </label>
                    </span>
                <% end %>
            </div>
        </div>
    </div>
    <div class="field mt-6">
        <div class="is-flex is-3 is-flex-wrap-wrap-reverse is-justify-content-space-between is-mobile" style="gap: 1.75rem">
            <% unless post.new_record? %>
                <%= button_to('Delete Post', [:admin, post], method: :delete, class: "button is-danger") %>
            <% end %>
            <div class="buttons <%= post.new_record? ? 'ml-auto' : nil %>">
                <%= f.submit(post.new_record? ? t('save_as_draft') : t('unpublish_post_and_save_as_draft'), class: 'button is-link') %>
                <%= f.submit post.new_record? ? t('publish_post') : t('publish_updates'), class: 'button is-success' %>
            </div>
        </div>
    </div>
<% end %>
