<div class="section px-0 pt-0">
    <div class="columns">
        <div class="column">
            <h1 class="title is-1">Posts</h1>
        </div>
        <div class="column">
            <div class="buttons is-right">
                <%= link_to 'Add a post', new_admin_post_path, class: "button is-link" %>
            </div>
        </div>
    </div>
</div>
<%= turbo_frame_tag 'posts' do %>
    <div>
        <div class="tabs">
            <ul>
                <li class="<%= @selected_filter == 'all' || @selected_filter == nil ? 'is-active' : nil %>"><%= link_to 'All', admin_posts_path %></li>
                <li class="<%= @selected_filter == 'published' ? 'is-active' : nil %>"><%= link_to 'Published', admin_posts_path(filter: 'published') %></li>
                <li class="<%= @selected_filter == 'drafted' ? 'is-active' : nil %>"><%= link_to 'Drafted', admin_posts_path(filter: 'drafted') %></li>
            </ul>
        </div>
        <div class="fixed-grid has-1-cols">
            <div class="grid models-grid">
                <%= render partial: 'admin/posts/post', collection: @posts %>
            </div>
        </div>  
    </div>  
<% end %>