<%= turbo_frame_tag collection, autoscroll: true do %>
    <%= form_with model: [:admin, collection] do |f| %>
        <%= hidden_field_tag :brand_id, params[:brand_id] %>
        <% if collection.errors.any? %>
            <%= render partial: 'admin/shared/form_error_message' %>
        <% end %>
        <div class="field">
            <label class="label"><%= f.label :name %></label>
            <div class="control">
                <%= f.text_field :name, autofocus: true, class: "input #{collection.errors.full_messages_for(:name).present? ? 'is-danger' : nil}" %>
            </div>
            <%= render partial: 'admin/shared/field_errors', locals: { object: collection, field: :name } %>
        </div>
        <div class="field">
            <label class="label"><%= f.label :overview_en %></label>
            <div class="control">
                <%= f.text_area :overview_en, class: "textarea #{collection.errors.full_messages_for(:overview_en).present? ? 'is-danger' : nil}" %>
            </div>
            <%= render partial: 'admin/shared/field_errors', locals: { object: collection, field: :overview_en } %>
        </div>
        <div class="field">
            <label class="label"><%= f.label :overview_es %></label>
            <div class="control">
                <%= f.text_area :overview_es, class: "textarea #{collection.errors.full_messages_for(:overview_es).present? ? 'is-danger' : nil}" %>
            </div>
            <%= render partial: 'admin/shared/field_errors', locals: { object: collection, field: :overview_es } %>
        </div>
        <div class="field">
            <label class="label"><%= f.label :brand_id, 'Brand' %></label>
            <div class="control">
                <div class="select #{collection.errors.full_messages_for(:brand).present? ? 'is-danger' : nil}">
                    <%= f.collection_select :brand_id, Brand.order(:name), :id, :name %>
                </div>
                <%= render partial: 'admin/shared/field_errors', locals: { object: collection, field: :brand } %>
            </div>
        </div>
        <div class="field">
            <div class="buttons is-right">
                <%= link_to("Cancel", edit_admin_brand_path(collection.brand), class: 'button') if collection.brand %>
                <%= f.submit params[:brand_id].present? ? 'Add Collection' : nil, class: 'button is-success', data: { turbo: params[:brand_id].present? } %>
            </div>
        </div>
    <% end %>
<% end %>
<% unless collection.new_record? %>
    <hr>
    <div class="block">
        <div class="field">
            <label class="label">Models</label>
            <%= turbo_frame_tag 'models', src: admin_models_path(collection_id: collection) do %>
            <% end %>
        </div>
    </div>
    <div class="box">
        <%= render partial: 'admin/collections/add_model_btn', locals: { collection: collection } %>
    </div>
<% end %>