<div class="section">
    <div class="container is-widescreen">
        <%= cache [I18n.locale, @post] do  %>
            <div class="content ">
                <h1 class="title is-3"><%= @post.title %></h1>
                <%= @post.content %>
                <hr>
                <% if @post.tags.any? %>
                    <div class="tags">
                        <span><%= t('tags') %>:</span>
                        <% @post.tags.each do |tag| %>
                            <span class="tag"><%= t(tag) %></span>
                        <% end %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
