<div class="section">
    <div class="container is-widescreen">
        <div class="columns">
            <% if @post.table_of_contents.present? %>
                <div class="column is-two-fifths-tablet is-one-fourth-desktop is-one-quarter-widescreen">
                    <div class="table-of-contents mb-5">
                        <div class="menu">
                            <p class="is-size-5"><%= t('table_of_contents') %></p>
                            <hr/>
                            <ul class="menu-list">
                                <% @post.table_of_contents.each_with_index do |entry, i| %>
                                    <% if entry['tag'] == 'h2' %>
                                        <li>
                                            <%= link_to entry['title'], post_path(@post.handle, anchor: entry['id']) %>
                                        <% if entry['nested_tags'].present? %>
                                            <ul>
                                                <% entry['nested_tags']&.each do |h3_tag| %>
                                                <li><%= link_to h3_tag['title'], post_path(@post.handle, anchor: h3_tag['id']), class: 'px-2' %></li>
                                                <% end %>
                                            </ul>
                                        <% end %>
                                        </li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="column">
                <%= cache [I18n.locale, @post] do  %>
                    <div class="content post-content">
                        <% if @post.has_affiliate_links %>
                            <div class="mb-3 ">
                                <p class="is-size-7"><%= t('associate_disclaimer') %></span>
                            </div>
                        <% end %>
                        <div class="block">
                            <h1 class="title is-3"><%= @post.title %></h1>
                            <%= render partial: 'posts/published_on', locals: { published_date: @post.humanized_published_at } %>                            
                        </div>
                        <div class="block">
                            <%= @post.content.html_safe %>
                        </div>
                        <%= render partial: 'posts/tags', locals: { tags: @post.tags } %>
                        <hr>
                        <%= turbo_frame_tag Comment.new, src: new_post_comment_path(post_id: @post.id) do %>
                        <% end %>
                        <%= turbo_frame_tag 'comments', src: post_comments_path(post_id: @post.id), loading: :lazy do %>
                        <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
