<div class="section">
    <div class="container is-widescreen">
        <%= cache [I18n.locale, @brand] do  %>
            <div class="columns is-multiline is-8-desktop">
                <div class="column is-full-tablet is-one-third-desktop is-flex is-justify-content-center brand-hero">
                    <figure class="image is-5by3">
                        <%= image_tag @brand.logo, class: 'px-5', style: "height: 100%;object-fit: contain;" %>
                    </figure>
                </div>
                <div class="column is-full-tablet is-two-thirds-desktop">
                    <div>
                        <div class="content ">
                            <h1 class="title is-1"><%= @brand.name %></h1>
                            <p class="is-size-4"><%= @brand.overview %></p>
                        </div>
                        <div style="background-color: <%= @brand.company_color %>; border-radius: 50px; margin-left: 75%" class="py-1"></div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="section">
    <div class="container is-widescreen">
        <%= render partial: 'models/filter', locals: { paged_models: @paged_models, total_pages: @total_pages, current_page: @current_page, selected_sort: @selected_sort, filter_list: @filter_list } %>
    </div>
</div>
<div class="section">
    <hr>
    <div class="container is-widescreen">
        <h3 class="title is-2"><%= t('collections') %></h3>
        <div class="columns">
            <div class="column is-one-third-tablet is-one-fourth-desktop is-one-fifth-widescreen">
                <div class="table-of-contents">

                <div class="menu">
                    <p class="is-size-5"><%= t('table_of_contents') %></p>
                    <hr/>
                    <ul class="menu-list">
                        <% @brand.collections.each do |collection| %>
                            <li class="mt-2 is-size-5"><%= link_to collection.name, brand_path(@brand.handle, anchor: collection.handle) %></li>
                        <% end %>
                    </ul>
                </div>


                </div>
            </div>
            <div class="column">
                <%= render partial: 'collections/collection', collection: @brand.collections %>
            </div>
        </div>
    </div>
</div>
