<%= render partial: 'shared/breadcrumbs', locals: { pages: [[t('brands'), brands_path], [@brand.name, brand_path(@brand.handle)]] } %>
<div class="section">
    <div class="container is-widescreen">
        <%= cache [I18n.locale, @brand] do  %>
            <div class="columns is-multiline is-8-desktop">
                <div class="column is-three-fifths-mobile is-one-third-tablet is-flex is-justify-content-center brand-hero">
                    <figure class="image is-5 is-5by3 card-border-radius has-background-white">
                        <%= image_tag @brand.logo, class: 'p-3', style: "height: 100%;object-fit: contain;" %>
                    </figure>
                </div>
                <div class="column is-full-mobile is-two-thirds-desktop">
                    <div>
                        <div class="content ">
                            <h1 class="title is-1"><%= @brand.name %></h1>
                            <p class="is-size-4"><%= @brand.overview %></p>
                        </div>
                        <div style="background-color: <%= @brand.company_color %>; border-radius: 50px; margin-left: 75%" class="py-1"></div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="section">
    <%= render partial: 'shared/shoe_filter_turbo_frame', locals: { src: filter_models_path(brand_id: @brand.id) } %>
</div>
<div class="section">
    <hr>
    <div class="container is-widescreen">
        <h3 class="title is-2"><%= t('collections') %></h3>
        <div class="columns">
            <div class="column is-two-fifths-tablet is-one-fourth-desktop is-one-quarter-widescreen">
                <div class="table-of-contents">
                    <div class="menu">
                        <p class="is-size-5"><%= t('table_of_contents') %></p>
                        <hr/>
                        <ul class="menu-list">
                            <% @brand.collections.each do |collection| %>
                                <li class="mt-2 is-size-5"><%= link_to collection.name, brand_path(@brand.handle, anchor: collection.handle) %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column">
                <%= render partial: 'collections/collection', collection: @brand.collections %>
            </div>
        </div>
    </div>
</div>

<% content_for :head do %>
    <%= javascript_include_tag 'highlight_collection' %>
<% end %>