<footer class="footer mt-auto">
  <div class="content container is-widescreen">
    <div class="columns">
      <div class="column">
        <h2 class="has-text-weight-medium">
          <a href="<%= root_path %>" class="mb-4 is-gap-0.5 is-flex is-align-items-center is-block" data-turbo="false" >
              <figure class="image is-96x96">
              <%= image_tag "logo/official.webp", style: "height: 100%;object-fit: contain;" %>
              </figure>
              <span><%= @app_name %></span>
          </a>
        </h2>
        <p><em><%= t('slogan') %></em></p>
      </div>
      <div class="column">
        <h4><%= t('brands') %></h4>
        <% @nav_footer_brands.each do |b| %>
          <p><%= link_to b.name, brand_path(b.handle) %></p>
        <% end %>
        <p><%= link_to t('all_brands'), brands_path %></p>
      </div>
      <div class="column">
        <h4><%= t('explore') %></h4>
        <p><%= link_to t('cta.visit_our_blog'), posts_path %></p>
        <p><%= link_to t('cta.try_our_shoe_filter'), root_path(anchor: 'homepage-filter') %></p>
      </div>
      <div class="column">
        <div class="block">
          <h4><%= t('join_our_community') %></h4>
          <p>
            <%= link_to 'https://www.instagram.com/shoesenseiofficial/', target: :_blank do %>
              <span class="icon is-medium">
                <i class="fab fa-2x fa-instagram" style="color: #4258ff;"></i>
              </span>
            <% end %>
          </p>
        </div>
        <div class="block">
          <h4><%= t('policies.title') %></h4>
          <p><%= link_to t('policies.terms.short'), policies_privacy_path %></p>
          <p><%= link_to t('policies.privacy.long'), policies_terms_path %></p>
        </div>
      </div>
    </div>
    <hr>
    <div class="mt-5">
      <p><b><%= t('footer_short_description') %></b></p>
      <p><em><%= t('associate_disclaimer') %></em></p>
    </div>
  </div>
  <%= javascript_include_tag 'update_tinymce' %>
</footer>
