<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= render partial: 'shared/navbar_root_btn', locals: { root: root_path } %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu" onclick="toggleNavbar(this)">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable brands-dropdown">
        <%= link_to t('brands'), brands_path, class: "navbar-link" %>

        <div class="navbar-dropdown">
          <% @nav_footer_brands.each do |b| %>
            <%= link_to b.name, brand_path(b.handle), class: "navbar-item #{request.path == brand_path(b.handle) ? 'is-selected has-text-white' : nil}" %>
          <% end %>
          <hr class="navbar-divider"/>
          <%= link_to t('all_brands'), brands_path, class: "navbar-item #{request.path == brands_path ? 'is-selected has-text-white' : nil}" %>
        </div>
      </div>
      <%= link_to t('blog'), posts_path, class: "navbar-item #{request.path == posts_path ? 'is-selected has-text-white' : nil}" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <p class="navbar-link">
          <span class="icon-text is-align-items-center is-gap-1">
              <span><%= t('language.prompt') %></span>
              <span class="icon is-medium">
                  <i class="fas fa-2x fa-language"></i>
              </span>
          </span>
        </p>

        <div class="navbar-dropdown is-right">
          <%= link_to t('language.english'), url_for(locale: nil), class: "navbar-item #{I18n.locale == :en ? 'is-selected has-text-white' : nil}" %>
          <%= link_to t('language.spanish'), url_for(locale: :es), class: "navbar-item #{I18n.locale == :es ? 'is-selected has-text-white' : nil}" %>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable brands-dropdown">
          <%= link_to t('account'), root_path, class: "navbar-link" %>
          <div class="navbar-dropdown">
              <%= link_to t('settings'), root_path, class: "navbar-item" %>
            <hr class="navbar-divider"/>
            <%= button_to t('log_out'), destroy_user_session_path, method: :delete, class: "navbar-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to t('join'), new_user_session_path, class: "navbar-item is-selected has-text-white" %>
      <% end %>
    </div>
  </div>
</nav>