<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to 'SoleFacts', root_path, class: "navbar-item", data: { turbo: false } %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable brands-dropdown">
        <%= link_to t('brands'), brands_path, class: "navbar-link" %>

        <div class="navbar-dropdown">
          <% Brand.order(:name).first(3).each do |b| %>
            <%= link_to b.name, brand_path(b.handle), class: "navbar-item #{request.path == brand_path(b.handle) ? 'is-selected has-text-white' : nil}" %>
          <% end %>
          <hr class="navbar-divider">
          <%= link_to t('all_brands'), brands_path, class: "navbar-item #{request.path == brands_path ? 'is-selected has-text-white' : nil}" %>
      </div>
    </div>
  </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon-text is-align-items-center">
              <span><%= t('language.prompt') %></span>
              <span class="icon is-medium">
                  <i class="fas fa-2x fa-language"></i>
              </span>
          </span>
        </a>

        <div class="navbar-dropdown is-right">
          <%= link_to t('language.english'), url_for(locale: :en), class: "navbar-item #{I18n.locale == :en ? 'is-selected has-text-white' : nil}" %>
          <%= link_to t('language.spanish'), url_for(locale: :es), class: "navbar-item #{I18n.locale == :es ? 'is-selected has-text-white' : nil}" %>
        </div>
      </div>
    </div>
  </div>
</nav>