<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="<%= root_path %>" class="navbar-item <%= request.path == root_path ? 'has-text-link has-background-white' : nil%>" data-turbo="false" >
      <figure class="image is-32x32">
        <%= image_tag "logo/official.webp", style: "height: 100%;object-fit: contain;" %>
      </figure>
      <p><%= @app_name %></p>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu" onclick="toggleNavbar(this)">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable brands-dropdown">
        <%= link_to t('brands'), brands_path, class: "navbar-link" %>

        <div class="navbar-dropdown">
          <%# TODO: cache this query %>
          <% Brand.order_by_models_count(3).each do |b| %>
            <%= link_to b.name, brand_path(b.handle), class: "navbar-item #{request.path == brand_path(b.handle) ? 'is-selected has-text-white' : nil}" %>
          <% end %>
          <hr class="navbar-divider"/>
          <%= link_to t('all_brands'), brands_path, class: "navbar-item #{request.path == brands_path ? 'is-selected has-text-white' : nil}" %>
        </div>
      </div>
      <%= link_to t('blog'), posts_path, class: "navbar-item #{request.path == posts_path ? 'is-selected has-text-white' : nil}" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <p class="navbar-link">
          <span class="icon-text is-align-items-center is-gap-1">
              <span><%= t('language.prompt') %></span>
              <span class="icon is-medium">
                  <i class="fas fa-2x fa-language"></i>
              </span>
          </span>
        </p>

        <div class="navbar-dropdown is-right">
          <%= link_to t('language.english'), url_for(locale: nil), class: "navbar-item #{I18n.locale == :en ? 'is-selected has-text-white' : nil}" %>
          <%= link_to t('language.spanish'), url_for(locale: :es), class: "navbar-item #{I18n.locale == :es ? 'is-selected has-text-white' : nil}" %>
        </div>
      </div>
    </div>
  </div>
</nav>