<!DOCTYPE html>
<html>
  <head>
    <title>Footwearapp Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="notices">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="section">
      <div class="container is-widescreen">
        <div class="columns">
          <div class="column is-one-quarter">
            <%= render 'admin/menu' %>
          </div>
          <div class="column">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
