<!DOCTYPE html>
<html>
  <head>
    <% if @meta_tags&.fetch(:title, false) %>
      <title><%= @meta_tags[:title] %></title>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "img_upload_previews", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "direct_uploads", "data-turbo-track": "reload", type: "module" %>
    <link rel="icon" type="image/x-icon" href="<%= image_path("logo/favicon.ico") %>">
    <%= tinymce_assets data: { turbo_track: "reload" } %>
    <%= content_for :head %>
  </head>

  <body>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/admin/navbar' %>
    <div class="section">
      <div class="container is-widescreen">
        <div class="columns">
          <div class="column is-one-quarter">
            <%= render 'admin/menu' %>
          </div>
          <div class="column">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
