<!DOCTYPE html>
<html>
  <head>
    <% if @meta_tags&.fetch(:google_tag, false) %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PRTXNJGN');</script>
      <!-- End Google Tag Manager -->
    <% end %>
    <% if @meta_tags&.fetch(:title, false) %>
      <title><%= @meta_tags[:title] %></title>
    <% end %>
    <% if @meta_tags&.fetch(:description, false) %>
      <meta name="description" content="<%= @meta_tags[:description] %>"/>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <% if Rails.env != 'test' %>
      <link rel="alternate" href="<%= Rails.application.routes.default_url_options[:host] + url_for(request.params.replace(locale: nil)) %>" hrefland="x-default">
      <link rel="alternate" href="<%= Rails.application.routes.default_url_options[:host] + url_for(request.params.replace(locale: nil)) %>" hrefland="en">
      <link rel="alternate" href="<%= Rails.application.routes.default_url_options[:host] + url_for(request.params.replace(locale: :es)) %>" hrefland="es">
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= content_for :head %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body>
    <% if @meta_tags&.fetch(:google_tag, false) %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRTXNJGN"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
