<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <% if @meta_tags&.fetch(:google_tag, false) %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRTXNJGN"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
