<%= stylesheet_link_tag "emails" %>

<div class="section">
    <div class="content">
        <p><%= t('user.mailer.shared.greeting', greeted: @resource.email) %></p>

        <p><%= t('user.mailer.reset_password_instructions.requested_link_to_change_password') %></p>

        <p><%= link_to t('user.mailer.reset_password_instructions.change_my_password'), edit_password_url(@resource, reset_password_token: @token, locale: locale), class: 'button is-link has-text-white' %></p>

        <p><%= t('user.mailer.shared.you_may_also_use_the_following_link') %><br/>
        <span>
            <%= link_to edit_password_url(@resource, reset_password_token: @token, locale: locale), edit_password_url(@resource, reset_password_token: @token, locale: locale) %>
        <span>
        </p>

        <div class="message is-warning">
            <div class="message-body">
                <p><%= t('user.mailer.reset_password_instructions.please_ignore_this_email') %></p>
                <p><%= t('user.mailer.reset_password_instructions.your_password_wont_change') %></p>
            </div>
        </div>
    </div>
</div>